elasticsearch
sklearn==0.0
scikit-learn==0.22.2
scipy==1.4.1
joblib==0.14.1
requests==2.23.0
urllib3==1.25.8
idna==2.9
chardet==3.0.4
certifi==2019.11.28
nltk==3.4.5
six==1.14.0
numpy==1.18.1
pandas==1.0.1
beautifulsoup4==4.8.2
wikipedia==1.4.0
wikipedia-api==0.5.4
bs4==0.0.1
soupsieve==2.0
attrdict==2.0.1
pageviewapi==0.4.0
SPARQLWrapper==1.8.5
isodate==0.6.0
rdflib==4.2.2
gensim==3.8.1
rank-bm25==0.2